<% if show_contact_footer%>
  <div class="container">
    <footer class="my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md text-center">
          <%= image_tag 'logo.png', class: "w-25"%>
          <small class="d-block mb-3 text-center text-muted">&copy; 2010-2021</small>
        </div>
        <div class="col-5 col-md">
          <h5>Contacts</h5>
          <ul class="list-unstyled text-small pt-3">
            <li><a class="text-muted" href="mailto:hr@galaxyworkspace.com">
                <i class="fa fa-envelope p-2" aria-hidden="true"></i>
                sales@galaxyworkplace.com
                </a>
            </li>
            <li>
              <a class="text-muted" href="#">
                <i class="fa fa-phone p-2" aria-hidden="true"></i>
                +917361-292018
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 pt-5">
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">
              <i class="fa fa-map-marker-alt p-2" aria-hidden="true"></i>
              Nayro Building Apollo Square, Indore, India 452001</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
<% end %>

<footer class="footer mt-auto bg-dark">
  <div class="container text-center text-white">
    <span>Developed and Maintained By Galaxy Workplace Services Private Ltd. 2010</span>
  </div>
</footer>
